extends layout

block content
  div(class='page-container')
    h1= title

    if error
      p Error getting dynamic content.
    else
      p Join one of the following !{data.game_count} game(s):

      table(class='table table-hover')
        thead
          tr
            th(scope='col') Name
            th(scope='col') ID
        tbody
          each game in data.game_list
            tr
              td 
                a(href=game.url) #{game.name}
              td #{game._id}

      br
      a(class='btn btn-primary' href='/gameplay/game/create') Create new game
