extends layout

block content
  div(class='page-container')
    if data.game
      h1 #{data.game.name}
      h2 Round #{data.currentRound.roundNumber}
      p Game ID: #{data.game._id}

      hr(class='my-4')
      div(class='flex-container')
        each player in data.player_list
          div(class='card player-card')
            div(class='card-body')
              h4(class='card-title') #{player.name} 
                if data.currentRound.judge.name == player.name
                  span(class='badge badge-secondary') Judge
              p(class='card-text') Score: #{player.winCount}
              a(href=player.url class='btn btn-primary') Play

    else
      p That game does not exist in our records.
