extends layout

block script
  script(type='text/javascript').
    var allSubmissionsReceived = #{data.allSubmissionsReceived};
    var roundId = '#{data.round._id}';
    var linesFromSubmissions = [!{data.linesFromSubmissions.map(x => JSON.stringify(x))}];
    var videoId = '#{data.round.videoId}';

  if data.allSubmissionsReceived
    script(src='/javascripts/judge_bundle.js')
    
  script(src='/javascripts/judge_vanilla.js')

  script(src='/javascripts/midi/inc/shim/Base64.js')
  script(src='/javascripts/midi/inc/shim/Base64binary.js')
  script(src='/javascripts/midi/inc/shim/WebAudioAPI.js')

  script(src='/javascripts/midi/js/midi/audioDetect.js')
  script(src='/javascripts/midi/js/midi/gm.js')
  script(src='/javascripts/midi/js/midi/loader.js')
  script(src='/javascripts/midi/js/midi/plugin.audiotag.js')
  script(src='/javascripts/midi/js/midi/plugin.webaudio.js')
  script(src='/javascripts/midi/js/midi/plugin.webmidi.js')

  script(src='/javascripts/midi/js/util/dom_request_xhr.js')
  script(src='/javascripts/midi/js/util/dom_request_script.js')

block content
  if data.player
    div(class='text-center')
      p Welcome, #[b #{data.player.name}]! You are the judge for #[b #{data.game.name}, Round #{data.round.roundNumber}].

      p #{data.submittedCount} out of #{data.expectedSubmissionCount} players have submitted.
      
      if data.allSubmissionsReceived
        div(class='vertical-container')
          include submissions_player
        
          div(class='card col-center' style='width: 20rem; margin-bottom: 20px;')
            div(class='card-body' id='winner-selection')
              h3(class='card-title') Select a winner:
              div(class='form-check')
                label(class='form-check-label')
                  input(class='form-check-input' type='radio' name='winner-options' id='select-option-1' value='option1' checked)
                  | Option 1
              div(class='form-check')
                label(class='form-check-label')
                  input(class='form-check-input' type='radio' name='winner-options' id='select-option-2' value='option2')
                  | Option 2
              div(class='form-check')
                label(class='form-check-label')
                  input(class='form-check-input' type='radio' name='winner-options' id='select-option-3' value='option3')
                  | Option 3
              button(type='button' class='btn btn-success' id='select-winner-btn') Submit
      else
        div(class='col-center' style='margin-bottom: 20px;')
          iframe(type='text/html' width='640' height='390'
            src='https://www.youtube.com/embed/' + data.round.videoId
            frameborder='0')
      
      div(style='margin: 10px 0px')
        button(type='button' class='btn btn-secondary' id='reset-round-btn') Reset Submissions

  else
    p That player does not exist in our records.
