extends layout

block script
  script(type='text/javascript').
    var playerId = '#{data.player._id}';
    var roundNumber = #{data.round.roundNumber};
    var melodyLines = [!{data.melodyLines.map(x => JSON.stringify(x.toJSON))}];
    var bassLines = [!{data.bassLines.map(x => JSON.stringify(x.toJSON))}];
    var percussionLines = [!{data.percussionLines.map(x => JSON.stringify(x.toJSON))}];
    var submissionId = '#{data.submission._id}';
    var isSubmitted = #{data.submission.isSubmitted};

  script(src='/javascripts/player_bundle.js')

  script(src='/javascripts/midi/inc/shim/Base64.js')
  script(src='/javascripts/midi/inc/shim/Base64binary.js')
  script(src='/javascripts/midi/inc/shim/WebAudioAPI.js')

  script(src='/javascripts/midi/js/midi/audioDetect.js')
  script(src='/javascripts/midi/js/midi/gm.js')
  script(src='/javascripts/midi/js/midi/loader.js')
  script(src='/javascripts/midi/js/midi/plugin.audiotag.js')
  script(src='/javascripts/midi/js/midi/plugin.webaudio.js')
  script(src='/javascripts/midi/js/midi/plugin.webmidi.js')

  script(src='/javascripts/midi/js/util/dom_request_xhr.js')
  script(src='/javascripts/midi/js/util/dom_request_script.js')

block content
  if errors
    for error in errors
      div(class='alert alert-danger' role='alert') != error.msg

  if data.player
    div(class='text-center')
      p Welcome, #[b #{data.player.name}]! You are participating in #[b #{data.game.name}, Round #{data.round.roundNumber}] with #[b #{data.round.judge.name}] as judge.

      div(class='animation-container')
        img(src='/images/round#{data.round.roundNumber}.png' class='rounded' style='max-width:800px;' id='background')
        img(src='/images/gary_the_snail.png' id='snail')

    div(class='d-flex justify-content-center text-center')      
      button(type='button' class='music-button melody-button btn' id='melody-button') No Melody Selected
      button(type='button' class='music-button percussion-button btn' id='percussion-button') No Percussion Selected
      button(type='button' class='music-button bass-button btn' id='bass-button') No Bass Selected

    div.text-center
      button(type='button' class='btn btn-success' id='publish-submission-btn') Submit
  else
    p That player does not exist in our records.
