extends layout

block content
  if data.player
    p Player: #{data.player}
    p ID: #{data.player._id}
    p Game: #{data.game}
    p Round: #{data.round}
    p Submission: #{data.submission}
    div.text-center
      button(type='button' class='btn btn-primary') Submit
  else
    p That player does not exist in our records.
